CONFIG_SPL_BIN_FILE=xburst2/soc-ad100/spl/ad102p-spl-sfc-nor-1152M-900M-uart2.bin
# CONFIG_COMPRESS_RTOS_BIN is not set
RTOS_TOOLCHAIN_PATH=../tools/toolchains/mips-xburst2-newlib430/bin
CROSS=mips-sde-elf-
CONFIG_OS_MEM_ADDR=0x81000000
CONFIG_OS_MEM_SIZE=0x6000000
CONFIG_OS_EXCEPTION_SECTION_SIZE=1024
CONFIG_OS_MAIN_STACK_SIZE=16384
CONFIG_OS_EXCEPTION_STACK_SIZE=2048
# CONFIG_JTAG_DEBUG is not set
# CONFIG_SHOW_COMPILE_TIME is not set
# CONFIG_KERNEL_WAIT_RTOS_STOP is not set
# CONFIG_OS_HAS_CPP_SUPPORT is not set
CONFIG_OS_GCC_OPTIMIZATION=-Os
# CONFIG_FPU_ALWAYS_ON is not set
# CONFIG_ENABLE_NESTED_IRQ is not set
# CONFIG_TCSM_SECTION is not set
CONFIG_MIPS32:=y
# CONFIG_XBURST is not set
CONFIG_XBURST2=y
# CONFIG_XBURST2_X2000 is not set
# CONFIG_XBURST2_X2100 is not set
# CONFIG_XBURST2_X2600 is not set
# CONFIG_XBURST2_X2670 is not set
# CONFIG_XBURST2_AD100 is not set
# CONFIG_XBURST2_AD101 is not set
# CONFIG_XBURST2_AD102N is not set
CONFIG_XBURST2_AD102P=y
# CONFIG_XBURST2_CP0_TIMER is not set
CONFIG_XBURST2_MSA=y
# CONFIG_SOC_X2000S is not set
# CONFIG_SOC_X2000 is not set
# CONFIG_SOC_X2600S is not set
# CONFIG_SOC_X2600 is not set
CONFIG_SOC_AD100S:=y
CONFIG_SOC_AD100:=y
CONFIG_AD100_DPU_HAL:=y
# CONFIG_SOC_AD100_AD100 is not set
# CONFIG_SOC_AD100_AD101 is not set
# CONFIG_SOC_AD100_AD102N is not set
CONFIG_SOC_AD100_AD102P:=y
CONFIG_AD100_GPIO_VDDIO_MANUAL_CONFIG=y
# CONFIG_AD100_GPIO_VDDIO_AUTO_CONFIG is not set
CONFIG_AD100_GPIO_VDDIO_CONFIG_MODE_MANUAL:=y
CONFIG_AD100_GPIO_SD_VOLTAGE_VALUE=33
# CONFIG_AD100_GPIO_VDDIO_CONFIG_MODE_SADC is not set
# CONFIG_SOC_AD100_UART1 is not set
CONFIG_SOC_AD100_UART2=y
CONFIG_SOC_AD100_UART2_RX=GPIO_PD(12),GPIO_FUNC_0
CONFIG_SOC_AD100_UART2_TX=GPIO_PD(13),GPIO_FUNC_0
CONFIG_SOC_AD100_UART2_CTS=-1
CONFIG_SOC_AD100_UART2_RTS=-1
# CONFIG_SOC_AD100_UART5 is not set
# CONFIG_SOC_AD100_UART7 is not set
CONFIG_AD100_LCD:=y
# CONFIG_AD100_LCD_MIXER_CHANNEL is not set
# CONFIG_AD100_LCD_ROTATOR_CHANNEL is not set
# CONFIG_AD100_LCD_SRDMA_CHANNEL is not set
CONFIG_AD100_LCD_LAYER_CHANNEL=y
CONFIG_AD100_LCD_CONFIG_BY_RTOS=y
# CONFIG_AD100_LCD_PAN_DISPLAY_SYNC is not set
# MD_AD100_510_FB_LIMIT_DMA_BURST_LEN is not set
MD_AD100_510_FB_MIPI_CMD_WAITTIME_US=1000
# MD_AD100_FB_CFG_MIPI_SWAP is not set
# CONFIG_AD100_LCD_USE_MIXER is not set
# CONFIG_AD100_LCD_USE_ROTATOR is not set
# CONFIG_AD100_LCD_USE_SRDMA is not set
CONFIG_AD100_LCD_USE_LAYER:=y
# CONFIG_AD100_LCD_ROTATOR_CONFIG is not set
# CONFIG_AD100_LCD_SRDMA_CONFIG is not set
CONFIG_AD100_LCD_FB_LAYER_CONFIG:=y
CONFIG_AD100_LCD_USE_DEFAULT_ORDER=y
CONFIG_AD100_LCD_FB0_ENABLE=y
CONFIG_AD100_LCD_FB0_FRM_CNT=1
CONFIG_AD100_LCD_FB0_ALPHA=255
CONFIG_AD100_LCD_FB0_NAME="fb0"
# CONFIG_AD100_LCD_FB1_ENABLE is not set
CONFIG_AD100_LCD_FB1_FRM_CNT=2
CONFIG_AD100_LCD_FB1_ALPHA=255
CONFIG_AD100_LCD_FB1_NAME="fb1"
# CONFIG_AD100_LCD_FB2_ENABLE is not set
CONFIG_AD100_LCD_FB2_FRM_CNT=2
CONFIG_AD100_LCD_FB2_ALPHA=255
CONFIG_AD100_LCD_FB2_NAME="fb2"
# CONFIG_AD100_LCD_FB3_ENABLE is not set
CONFIG_AD100_LCD_FB3_FRM_CNT=2
CONFIG_AD100_LCD_FB3_ALPHA=255
CONFIG_AD100_LCD_FB3_NAME="fb3"
# CONFIG_AD100_LCD_FB_ENABLE_USER_CONFIG is not set
# CONFIG_AD100_FB_LAYER_MIXER is not set
# CONFIG_AD100_MAC is not set
# CONFIG_SOC_AD100_MSC0_BUS is not set
# CONFIG_SOC_AD100_MSC1_BUS is not set
# CONFIG_AD100_I2C0_BUS is not set
# CONFIG_AD100_I2C1_BUS is not set
# CONFIG_AD100_I2C2_BUS is not set
# CONFIG_AD100_I2C3_BUS is not set
# CONFIG_AD100_AIC is not set
# CONFIG_AD100_ICODEC is not set
# CONFIG_AD100_AUDIO is not set
# CONFIG_AD100_DMIC is not set
# CONFIG_AD100_ADC is not set
CONFIG_AD100_SPI_CLK_RATE=100000000
# CONFIG_AD100_SPI0 is not set
# CONFIG_AD100_SPI1 is not set
# CONFIG_SOC_AD100_CAN0 is not set
CONFIG_AD100_JPEG=y
# CONFIG_AD100_JPEG_ENC is not set
CONFIG_AD100_JPEG_DEC=y
# CONFIG_AD100_EFUSE is not set
# CONFIG_AD100_AES is not set
# CONFIG_AD100_HASH is not set
CONFIG_AD100_PWM=y
# CONFIG_AD100_VCODEC is not set
# CONFIG_AD100_WDT is not set
# CONFIG_AD100_DTRNG is not set
# CONFIG_AD100_WDT1 is not set
# CONFIG_AD100_SCBOOT_DRIVER is not set
# CONFIG_AD100_PM is not set
CONFIG_EXTAL_CLOCK=24000000
# CONFIG_XBURST2_RTC_32K is not set
BITS_PER_LONG=32
CONFIG_XBURST2_IRQ=y
CONFIG_XBURST2_CACHE=y
CONFIG_XBURST2_SPINLOCK=y
CONFIG_XBURST2_CLK=y
CONFIG_XBURST2_SYSTICK=y
CONFIG_XBURST2_GPIO=y
CONFIG_XBURST2_DMA=y
CONFIG_LIB=y
CONFIG_LIB_ASSERT=y
# CONFIG_ASSERT_WITH_NO_FILENAME is not set
CONFIG_LIB_DEALY=y
CONFIG_LIB_RTC=y
CONFIG_LIB_STRING=y
CONFIG_LIB_DUMP_MEM=y
CONFIG_LIB_XFORMAT=y
CONFIG_LIB_XFORMAT_PRINTF=y
CONFIG_LIB_RING_BUFFER=y
CONFIG_DUMP_STACK=y
# CONFIG_LIB_SORT is not set
CONFIG_IMG_CONVERT=y
# CONFIG_YUV422_TO_RGB is not set
# CONFIG_BAYER16_TO_RGB is not set
CONFIG_CMYK_TO_RGB=y
CONFIG_RING_MEM=y
# CONFIG_LIB_NALU is not set
CONFIG_UBOOT_LIB=y
# CONFIG_LIB_CRC32 is not set
# CONFIG_LIB_NV12_ROTATE is not set
CONFIG_DRIVERS=y
CONFIG_IRQ:=y
CONFIG_CACHE:=y
CONFIG_SPINLOCK:=y
CONFIG_CLK:=y
CONFIG_SYSTICK:=y
CONFIG_GPIO:=y
CONFIG_REGULATOR:=y
CONFIG_UART:=y
# CONFIG_PM is not set
# CONFIG_ROTATOR is not set
CONFIG_FB:=y
CONFIG_DMA:=y
# CONFIG_SPI is not set
# CONFIG_SSLV is not set
# CONFIG_I2C is not set
# CONFIG_MMC is not set
# CONFIG_RAMDISK is not set
# CONFIG_PCM is not set
# CONFIG_ADC is not set
# CONFIG_AES is not set
# CONFIG_SECURITY_AES is not set
CONFIG_PWM:=y
# CONFIG_EFUSE is not set
# CONFIG_EFUSE_MODE_HAMMING is not set
# CONFIG_EFUSE_MODE_NONE is not set
# CONFIG_WDT is not set
# CONFIG_RTC is not set
# CONFIG_DTRNG is not set
# CONFIG_HASH is not set
# CONFIG_DES is not set
# CONFIG_MAC is not set
# CONFIG_CAN is not set
# CONFIG_CAMERA is not set
# CONFIG_ISP is not set
CONFIG_BACKLIGHT:=y
# CONFIG_MSCALER is not set
# CONFIG_CONN is not set
# CONFIG_SCBOOT is not set
# CONFIG_INPUT is not set
CONFIG_HRTIMER=y
# CONFIG_LCD_GPIO is not set
# CONFIG_GPIO_SPI is not set
# CONFIG_GPIO_I2C is not set
# CONFIG_USB_DRIVER is not set
CONFIG_SFC=y
CONFIG_SFC_NOR=y
# CONFIG_SFC_NAND is not set
CONFIG_SFC_RATE=400000000
CONFIG_EXTRA_NOR_INFO_OFF=0x5c00
# CONFIG_SFC_NAND_JUMP_CHECK_BADBLOCK is not set
# CONFIG_RTOS_OTA_UPDATE is not set
CONFIG_CONSOLE=y
CONFIG_CONSOLE_USE_UART=y
CONFIG_UART_CONSOLE:=y
CONFIG_UART_CONSOLE_UART_ID=2
CONFIG_UART_CONSOLE_BAUD_RATE=3000000
# CONFIG_UART_CONSOLE_RX_MODE_POLL is not set
CONFIG_GPIO_PIN=y
CONFIG_DEVICES=y
# CONFIG_X1000_SLCD_ST7789V is not set
# CONFIG_X1000_SLCD_TRULY240240 is not set
# CONFIG_X1830_TFT_ST7701 is not set
# CONFIG_X1830_SLCD_KWH035 is not set
# CONFIG_X1830_SLCD_ST7789 is not set
# CONFIG_X1021_SLCD_KWH035 is not set
# CONFIG_X2000_MIPI_KD070D57 is not set
# CONFIG_X2000_SLCD_KWH035 is not set
# CONFIG_X2000_MIPI_FW050 is not set
# CONFIG_X2000_SLCD_JD9851 is not set
# CONFIG_X2000_MIPI_OTM8018B is not set
# CONFIG_X2000_TFT_ST7789V2 is not set
# CONFIG_X1600_SLCD_KWH035 is not set
# CONFIG_X1600_TFT_ST7701 is not set
# CONFIG_X1600_SLCD_ST7789V_4LINE_SPI is not set
# CONFIG_X1600_TFT_ST77903_8BIT is not set
# CONFIG_X2600_MIPI_FW050 is not set
# CONFIG_X2600_LVDS_KX070 is not set
# CONFIG_X2600_LVDS_QM101 is not set
# CONFIG_X2600_SLCD_ST7789V_4LINE_SPI is not set
# CONFIG_X2600_SLCD_ST7789V_3LINE_SPI is not set
# CONFIG_X2600_MIPI_YC101 is not set
# CONFIG_X2600_MIPI_ILI9881C_FW101 is not set
# CONFIG_X2600_MIPI_GM8775C is not set
# CONFIG_X2600_TFT_SAT101 is not set
# CONFIG_AD100_MIPI_B203A is not set
# CONFIG_AD100_MIPI_FW050 is not set
CONFIG_AD100_MIPI_ILI9881C_FW101=y
CONFIG_AD100_ILI9881C_FW101_POWER_EN=-1
CONFIG_AD100_ILI9881C_FW101_RST=GPIO_PB(19),0
CONFIG_LCD_POWER_REGULATOR_NAME="LCD_POWER"
CONFIG_AD100_ILI9881C_FW101_FB_FMT=fb_fmt_ARGB8888
# CONFIG_AD100_MIPI_HJ050 is not set
# CONFIG_AD100_MIPI_YC101 is not set
# CONFIG_AD100_MIPI_JD9165 is not set
# CONFIG_AD100_TFT_ILI6122_JH050 is not set
# CONFIG_AD100_MIPI_JD9365_M101 is not set
# CONFIG_AD100_MIPI_JD9365_L050 is not set
# CONFIG_AD100_MIPI_LD047RF1L01 is not set
# CONFIG_AD100_MIPI_QM047KS01 is not set
# CONFIG_AD100_MIPI_QM047KS02 is not set
# CONFIG_AD100_MIPI_ST7283 is not set
# CONFIG_AD100_TFT_NV3074E_8BIT is not set
# CONFIG_AD100_MIPI_GC9503V_TB045 is not set
# CONFIG_AD100_MIPI_ST7701S_TB039 is not set
# CONFIG_AD100_MIPI_ST7701S is not set
# CONFIG_AD100_MIPI_ST7701S_FRD450 is not set
# CONFIG_AD100_MIPI_ST7701S_ZX is not set
# CONFIG_AD100_MIPI_ST7701S_TL021 is not set
# CONFIG_AD100_MIPI_FL7703_TL040 is not set
# CONFIG_AD100_MIPI_FL7703N is not set
# CONFIG_AD100_MIPI_ST7701S_SY is not set
# CONFIG_AD100_MIPI_ST7797 is not set
# CONFIG_AD100_MIPI_ST7701S_TL028 is not set
# CONFIG_AD100_TFT_ST7701S_50H9005 is not set
# CONFIG_AD100_SLCD_ST7789V_3LINE_SPI is not set
# CONFIG_AD100_MIPI_ST7701_B041 is not set
# CONFIG_AD100_MIPI_GC9503_HL062 is not set
# CONFIG_AD100_MIPI_TP0P219 is not set
# CONFIG_AD100_MIPI_BH065 is not set
# CONFIG_GPIO_BACKLIGHT is not set
CONFIG_PWM_BACKLIGHT=y
CONFIG_PWM_BACKLIGHT0=y
CONFIG_PWM_BACKLIGHT0_GPIO=GPIO_PB(17)
CONFIG_PWM_BACKLIGHT0_ENABLE_GPIO=-1,0
CONFIG_PWM_BACKLIGHT0_IDLE_LEVEL=PWM_idle_low
CONFIG_PWM_BACKLIGHT0_FREQ=50000
CONFIG_PWM_BACKLIGHT0_MAX_LEVEL=100
CONFIG_PWM_BACKLIGHT0_NAME="backlight_pwm0"
# CONFIG_PWM_BACKLIGHT1 is not set
# CONFIG_PWM_BACKLIGHT2 is not set
# CONFIG_GPIO_KEYBOARD is not set
# CONFIG_ADC_KEYBOARD is not set
# CONFIG_MATRIX_KEY is not set
# CONFING_GSL1680_TOUCH is not set
# CONFING_FT6236_TOUCH is not set
# CONFIG_GT9XX_TOUCH is not set
# CONFIG_X1000_SENSOR_GC0308 is not set
# CONFIG_X1000_SENSOR_BF20A6 is not set
# CONFIG_X1000_SENSOR_GC2155 is not set
# CONFIG_X1000_SENSOR_SC031IoT is not set
# CONFIG_X1021_SENSOR_GC0328 is not set
# CONFIG_X1021_SENSOR_OV9732 is not set
# CONFIG_X1520_SENSOR_GC2145 is not set
# CONFIG_X1520_SENSOR_OV9281 is not set
# CONFIG_X1520_SENSOR_OV9732 is not set
# CONFIG_X1600_SENSOR_SC031 is not set
# CONFIG_X1600_SENSOR_SC132_MIPI is not set
# CONFIG_X1600_SENSOR_GC0328 is not set
# CONFIG_X1600_SENSOR_PAG7930 is not set
# CONFIG_X1600_SENSOR_SC035 is not set
# CONFIG_X1830_SENSOR_OV2735 is not set
# CONFIG_X1830_SENSOR_IMX307 is not set
# CONFIG_X1830_SENSOR_AR0522 is not set
# CONFIG_X1830_SENSOR_AR0230 is not set
# MD_X2000_SENSOR_SC031_MIPI is not set
# MD_X2000_SENSOR_SC035_MIPI is not set
# MD_X2000_SENSOR_SC2310_MIPI is not set
# CONFIG_X2000_SENSOR_SC2355_MIPI is not set
# MD_X2000_OV2735_SENSOR_MIPI is not set
# CONFIG_X2000_SENSOR_OV9281 is not set
# CONFIG_X2000_SENSOR_OV9284 is not set
# CONFIG_X2000_SENSOR_GC1054_DVP is not set
# CONFIG_X2000_SENSOR_GC2053 is not set
# CONFIG_X2000_SENSOR_GC2053_DVP is not set
# CONFIG_X2000_SENSOR_JZ0378 is not set
# CONFIG_X2000_SENSOR_GVM8666B is not set
# CONFIG_X2000_SENSOR_IMX335_MIPI is not set
# CONFIG_X2000_SENSOR_SC120 is not set
# CONFIG_X2600_SENSOR_SC031 is not set
# CONFIG_CODEC_AK4951 is not set
# CONFIG_CODEC_ES8389 is not set
# CONFIG_EMMC_DEVICE is not set
# CONFIG_RAMDISK_DEVICE is not set
CONFIG_GPIO_REGULATOR=y
CONFIG_GPIO_REGULATOR0=y
CONFIG_GPIO_REGULATOR0_GPIO=GPIO_PB(18),0
CONFIG_GPIO_REGULATOR0_NAME="LCD_POWER"
# CONFIG_GPIO_REGULATOR1 is not set
# CONFIG_GPIO_REGULATOR2 is not set
# CONFIG_DEVICES_WIRELESS is not set
# CONFIG_WIRELESS_INFINEON_CYWWHD is not set
# CONFIG_WIRELESS_ATBM is not set
CONFIG_OS=y
CONFIG_OS_FREERTOS=y
# CONFIG_OS_ITOS is not set
# CONFIG_OS_POSIX is not set
# CONFIG_OS_MODULE is not set
CONFIG_NEWLIB=y
CONFIG_SYMBOLS:=y
CONFIG_FUNC_SYMBOLS:=y
CONFIG_DFS=y
# CONFIG_DFS_ELMFAT is not set
# CONFIG_DFS_DEBUGFS is not set
# CONFIG_DFS_HOTPLUG is not set
# CONFIG_CONN_FS is not set
# CONFIG_SHELL is not set
# CONFIG_NET is not set
# CONFIG_APPLICATION is not set
# CONFIG_APPLICATION_FACE is not set
# CONFIG_APPLICATION_LOAD_KERNEL is not set
# CONFIG_LIBSTDCPP is not set
# CONFIG_LIBCXX is not set
# CONFIG_LIBCXX_RTTI is not set
# CONFIG_LIBMAD is not set
# CONFIG_LIBSAMPLERATE is not set
# CONFIG_AF_RESAMPLE is not set
# CONFIG_AWTK is not set
# CONFIG_MEMTESTER is not set
# CONFIG_LIBJPEG is not set
# CONFIG_JPEG_TURBO is not set
# CONFIG_JPEG_TINY is not set
# CONFIG_LIBFACEDET is not set
# CONFIG_LIBIAAC is not set
# CONFIG_LIBGOODIXTOF is not set
CONFIG_ZLIB=y
# CONFIG_LRZSZ is not set
# CONFIG_LVGL is not set
# CONFIG_LZMA is not set
