CONFIG_SPL_BIN_FILE=xburst/soc-x1600/spl/x1660l-spl-sfc-nand-1104M-200M.bin
RTOS_TOOLCHAIN_PATH=../tools/toolchains/mips-xburst1-newlib430/bin
CROSS=mips-sde-elf-
CONFIG_OS_MEM_ADDR=0x80010000
CONFIG_OS_MEM_SIZE=0x7F0000
CONFIG_OS_EXCEPTION_SECTION_SIZE=1024
CONFIG_OS_MAIN_STACK_SIZE=16384
CONFIG_OS_EXCEPTION_STACK_SIZE=2048
# CONFIG_JTAG_DEBUG is not set
CONFIG_SHOW_COMPILE_TIME=y
# CONFIG_KERNEL_WAIT_RTOS_STOP is not set
# CONFIG_OS_HAS_CPP_SUPPORT is not set
CONFIG_OS_GCC_OPTIMIZATION=-Os
# CONFIG_FPU_ALWAYS_ON is not set
# CONFIG_ENABLE_NESTED_IRQ is not set
# CONFIG_TCSM_SECTION is not set
CONFIG_MIPS32:=y
CONFIG_XBURST=y
# CONFIG_XBURST_X1000 is not set
# CONFIG_XBURST_X1500L is not set
# CONFIG_XBURST_X1500 is not set
# CONFIG_XBURST_X1021 is not set
# CONFIG_XBURST_X1521 is not set
# CONFIG_XBURST_X1520 is not set
# CONFIG_XBURST_X1600 is not set
CONFIG_XBURST_X1660=y
# CONFIG_XBURST_X1630 is not set
# CONFIG_XBURST_X1830 is not set
CONFIG_CP0_TIMER=y
# CONFIG_SOC_X1000S is not set
# CONFIG_SOC_X1000 is not set
# CONFIG_SOC_X1021S is not set
# CONFIG_SOC_X1021 is not set
# CONFIG_SOC_X1520 is not set
CONFIG_SOC_X1600S:=y
CONFIG_SOC_X1600:=y
# CONFIG_SOC_X1600_X1600 is not set
CONFIG_SOC_X1600_X1660:=y
# CONFIG_SOC_X1600_UART0 is not set
# CONFIG_SOC_X1600_UART1 is not set
CONFIG_SOC_X1600_UART2=y
CONFIG_SOC_X1600_UART2_RX=GPIO_PB(1),GPIO_FUNC_1
CONFIG_SOC_X1600_UART2_TX=GPIO_PB(0),GPIO_FUNC_1
CONFIG_SOC_X1600_UART2_CTS=-1
CONFIG_SOC_X1600_UART2_RTS=-1
# CONFIG_SOC_X1600_UART3 is not set
# CONFIG_SOC_X1600_UART is not set
CONFIG_SOC_X1660_UART:=y
CONFIG_X1600_I2C0_BUS=y
CONFIG_X1600_I2C0_PA=y
# CONFIG_X1600_I2C0_PB is not set
CONFIG_X1600_I2C0_RATE=400000
# CONFIG_X1600_I2C1_BUS is not set
CONFIG_X1600_SPI_CLK_RATE=100000000
# CONFIG_X1600_SPI0 is not set
# CONFIG_X1600_SSLV0 is not set
# CONFIG_SOC_X1600_MSC0_BUS is not set
# CONFIG_SOC_X1600_MSC1_BUS is not set
CONFIG_X1600_CAMERA=y
CONFIG_SOC_X1600_CAMERA_MCLK=GPIO_PA(24)
CONFIG_SOC_X1600_CAMERA_FRAME_NUMS=2
# CONFIG_X1600_LCD is not set
# CONFIG_X1600_UTILS is not set
# CONFIG_X1600_PWM is not set
# CONFIG_X1600_ADC is not set
# CONFIG_X1600_AES is not set
# CONFIG_X1600_WDT is not set
# CONFIG_X1600_RTC is not set
# CONFIG_X1600_DTRNG is not set
# CONFIG_X1600_HASH is not set
# CONFIG_X1600_EFUSE is not set
# CONFIG_X1600_PM is not set
# CONFIG_X1600_TCU is not set
# CONFIG_X1600_MAC is not set
# CONFIG_SOC_X1830S is not set
# CONFIG_SOC_X1830 is not set
CONFIG_EXTAL_CLOCK=24000000
# CONFIG_XBURST_RTC_32K is not set
BITS_PER_LONG=32
CONFIG_XBURST_IRQ=y
CONFIG_XBURST_CACHE=y
CONFIG_XBURST_SPINLOCK=y
CONFIG_XBURST_CLK=y
CONFIG_XBURST_SYSTICK=y
CONFIG_XBURST_GPIO=y
CONFIG_XBURST_DMA=y
# CONFIG_XBURST2 is not set
CONFIG_LIB=y
CONFIG_LIB_ASSERT=y
# CONFIG_ASSERT_WITH_NO_FILENAME is not set
CONFIG_LIB_DEALY=y
CONFIG_LIB_RTC=y
CONFIG_LIB_STRING=y
CONFIG_LIB_DUMP_MEM=y
CONFIG_LIB_XFORMAT:=y
CONFIG_LIB_XFORMAT_PRINTF=y
# CONFIG_LIB_RING_BUFFER is not set
CONFIG_DUMP_STACK=y
CONFIG_LIB_SORT:=y
# CONFIG_SORT_UP_CHAR is not set
# CONFIG_SORT_DOWN_CHAR is not set
CONFIG_SORT_UP_INT:=y
# CONFIG_SORT_DOWN_INT is not set
CONFIG_IMG_CONVERT=y
CONFIG_YUV422_TO_RGB=y
CONFIG_BAYER16_TO_RGB=y
CONFIG_CMYK_TO_RGB=y
CONFIG_RING_MEM:=y
# CONFIG_LIB_NALU is not set
# CONFIG_UBOOT_LIB is not set
# CONFIG_LIB_CRC32 is not set
# CONFIG_LIB_NV12_ROTATE is not set
CONFIG_DRIVERS=y
CONFIG_IRQ=y
CONFIG_CACHE=y
CONFIG_SPINLOCK=y
CONFIG_CLK=y
CONFIG_SYSTICK=y
CONFIG_GPIO=y
# CONFIG_REGULATOR is not set
CONFIG_UART=y
# CONFIG_PM is not set
# CONFIG_ROTATOR is not set
# CONFIG_FB is not set
CONFIG_DMA:=y
# CONFIG_SPI is not set
# CONFIG_SSLV is not set
CONFIG_I2C:=y
# CONFIG_MMC is not set
CONFIG_RAMDISK:=y
# CONFIG_PCM is not set
# CONFIG_ADC is not set
# CONFIG_AES is not set
# CONFIG_SECURITY_AES is not set
# CONFIG_PWM is not set
# CONFIG_EFUSE is not set
# CONFIG_EFUSE_MODE_HAMMING is not set
# CONFIG_EFUSE_MODE_NONE is not set
# CONFIG_WDT is not set
# CONFIG_RTC is not set
# CONFIG_DTRNG is not set
# CONFIG_HASH is not set
# CONFIG_DES is not set
# CONFIG_MAC is not set
# CONFIG_CAN is not set
CONFIG_CAMERA:=y
# CONFIG_ISP is not set
# CONFIG_BACKLIGHT is not set
# CONFIG_MSCALER is not set
# CONFIG_CONN is not set
# CONFIG_SCBOOT is not set
# CONFIG_INPUT is not set
CONFIG_HRTIMER=y
# CONFIG_LCD_GPIO is not set
# CONFIG_GPIO_SPI is not set
# CONFIG_GPIO_I2C is not set
CONFIG_USB_DRIVER=y
CONFIG_USB_IS_DEVICE:=y
# CONFIG_USB_IS_HOST is not set
CONFIG_USB0=y
CONFIG_USB_PERIPHERAL=y
# CONFIG_USB_HOST is not set
# CONFIG_USB_DUAL_ROLE is not set
# CONFIG_USB_GADGET_SERIAL is not set
# CONFIG_USB_GADGET_HID is not set
# CONFIG_USB_GADGET_HID_WAKEUP is not set
# CONFIG_USB_GADGET_SERIAL_HID is not set
# CONFIG_USB_GADGET_UVC is not set
# CONFIG_USB_GADGET_UVC_N is not set
# CONFIG_USB_GADGET_UVC_HID is not set
# CONFIG_USB_GADGET_UVC_CDC is not set
# CONFIG_USB_GADGET_BULK is not set
CONFIG_USB_GADGET_UAC1=y
# CONFIG_USB_GADGET_UVC_UAC1 is not set
# CONFIG_USB_GADGET_UVC_N_UAC1 is not set
# CONFIG_USB_GADGET_MASS_STORAGE is not set
# CONFIG_USB_GADGET_PRINTER is not set
# CONFIG_USB_GADGET_DISPLAY is not set
# CONFIG_USB_GADGET_WINUSB is not set
# CONFIG_USB_GADGET_RNDIS is not set
CONFIG_USB_DISABLE_VBUS=y
# CONFIG_USB_FORCE_FULL_SPEED is not set
# CONFIG_USB1 is not set
# CONFIG_USB_IRQ_THREAD_MODE is not set
# CONFIG_USB_HOST_HID_MOUSE is not set
# CONFIG_USB_HOST_HID_KEYBOARD is not set
# CONFIG_USB_HOST_HID_VENDOR is not set
# CONFIG_USB_HOST_CDC_ACM is not set
# CONFIG_USB_HOST_CH341 is not set
# CONFIG_USB_HOST_UVC is not set
# CONFIG_USB_HOST_MASS_STORAGE is not set
CONFIG_SFC=y
# CONFIG_SFC_NOR is not set
CONFIG_SFC_NAND=y
CONFIG_SFC_RATE=200000000
# CONFIG_SFC_NAND_JUMP_CHECK_BADBLOCK is not set
# CONFIG_RTOS_OTA_UPDATE is not set
CONFIG_CONSOLE=y
CONFIG_CONSOLE_USE_UART=y
CONFIG_UART_CONSOLE:=y
CONFIG_UART_CONSOLE_UART_ID=2
CONFIG_UART_CONSOLE_BAUD_RATE=3000000
# CONFIG_UART_CONSOLE_RX_MODE_POLL is not set
CONFIG_GPIO_PIN=y
CONFIG_DEVICES=y
# CONFIG_X1000_SLCD_ST7789V is not set
# CONFIG_X1000_SLCD_TRULY240240 is not set
# CONFIG_X1830_TFT_ST7701 is not set
# CONFIG_X1830_SLCD_KWH035 is not set
# CONFIG_X1830_SLCD_ST7789 is not set
# CONFIG_X1021_SLCD_KWH035 is not set
# CONFIG_X2000_MIPI_KD070D57 is not set
# CONFIG_X2000_SLCD_KWH035 is not set
# CONFIG_X2000_MIPI_FW050 is not set
# CONFIG_X2000_SLCD_JD9851 is not set
# CONFIG_X2000_MIPI_OTM8018B is not set
# CONFIG_X2000_TFT_ST7789V2 is not set
# CONFIG_X1600_SLCD_KWH035 is not set
# CONFIG_X1600_TFT_ST7701 is not set
# CONFIG_X1600_SLCD_ST7789V_4LINE_SPI is not set
# CONFIG_X1600_TFT_ST77903_8BIT is not set
# CONFIG_X2600_MIPI_FW050 is not set
# CONFIG_X2600_LVDS_KX070 is not set
# CONFIG_X2600_LVDS_QM101 is not set
# CONFIG_X2600_SLCD_ST7789V_4LINE_SPI is not set
# CONFIG_X2600_MIPI_YC101 is not set
# CONFIG_AD100_MIPI_B203A is not set
# CONFIG_AD100_MIPI_FW050 is not set
# CONFIG_AD100_MIPI_JD9165 is not set
# CONFIG_AD100_MIPI_LD047RF1L01 is not set
# CONFIG_AD100_MIPI_QM047KS01 is not set
# CONFIG_AD100_MIPI_QM047KS02 is not set
# CONFIG_AD100_MIPI_ST7283 is not set
# CONFIG_AD100_TFT_NV3074E_8BIT is not set
# CONFIG_AD100_MIPI_ST7701S is not set
# CONFIG_AD100_MIPI_ST7701S_FRD450 is not set
# CONFIG_AD100_MIPI_ST7701S_ZX is not set
# CONFIG_AD100_MIPI_ST7701S_SY is not set
# CONFIG_AD100_MIPI_ST7797 is not set
# CONFIG_AD100_MIPI_YC101 is not set
# CONFIG_GPIO_BACKLIGHT is not set
# CONFIG_PWM_BACKLIGHT is not set
# CONFIG_GPIO_KEYBOARD is not set
# CONFIG_ADC_KEYBOARD is not set
# CONFIG_MATRIX_KEY is not set
# CONFING_GSL1680_TOUCH is not set
# CONFING_FT6236_TOUCH is not set
# CONFIG_GT9XX_TOUCH is not set
# CONFIG_X1000_SENSOR_GC0308 is not set
# CONFIG_X1000_SENSOR_BF20A6 is not set
# CONFIG_X1000_SENSOR_GC2155 is not set
# CONFIG_X1000_SENSOR_SC031IoT is not set
# CONFIG_X1021_SENSOR_GC0328 is not set
# CONFIG_X1021_SENSOR_OV9732 is not set
# CONFIG_X1520_SENSOR_GC2145 is not set
# CONFIG_X1520_SENSOR_OV9281 is not set
# CONFIG_X1520_SENSOR_OV9732 is not set
CONFIG_X1600_SENSOR_SC031=y
CONFIG_X1600_SC031_GPIO_RESET=GPIO_PA(30)
CONFIG_X1600_SC031_GPIO_PWDN=GPIO_PA(31)
CONFIG_X1600_SC031_I2C_BUSNUM=0
# CONFIG_X1600_SENSOR_SC031_DVP is not set
CONFIG_X1600_SENSOR_SC031_MIPI=y
# CONFIG_X1600_SENSOR_GC0328 is not set
# CONFIG_X1600_SENSOR_PAG7930 is not set
# CONFIG_X1600_SENSOR_SC035 is not set
# CONFIG_X1830_SENSOR_OV2735 is not set
# CONFIG_X1830_SENSOR_IMX307 is not set
# CONFIG_X1830_SENSOR_AR0522 is not set
# CONFIG_X1830_SENSOR_AR0230 is not set
# MD_X2000_SENSOR_SC031_MIPI is not set
# MD_X2000_SENSOR_SC035_MIPI is not set
# MD_X2000_SENSOR_SC2310_MIPI is not set
# CONFIG_X2000_SENSOR_SC2355_MIPI is not set
# MD_X2000_OV2735_SENSOR_MIPI is not set
# CONFIG_X2000_SENSOR_OV9281 is not set
# CONFIG_X2000_SENSOR_GC1054_DVP is not set
# CONFIG_X2000_SENSOR_GC2053 is not set
# CONFIG_X2000_SENSOR_GC2053_DVP is not set
# CONFIG_X2000_SENSOR_JZ0378 is not set
# CONFIG_X2000_SENSOR_GVM8666B is not set
# CONFIG_X2000_SENSOR_IMX335_MIPI is not set
# CONFIG_X2000_SENSOR_SC120 is not set
# CONFIG_X2600_SENSOR_SC031 is not set
# CONFIG_CODEC_AK4951 is not set
# CONFIG_EMMC_DEVICE is not set
CONFIG_RAMDISK_DEVICE=y
CONFIG_RAMDISK_DEVICE_ALLOC=y
# CONFIG_RAMDISK_DEVICE_MAPPED_PRE_LOAD is not set
CONFIG_RAMDISK_DEVICE_SIZE=589824
# CONFIG_GPIO_REGULATOR is not set
# CONFIG_DEVICES_WIRELESS is not set
# CONFIG_WIRELESS_INFINEON_CYWWHD is not set
# CONFIG_WIRELESS_ATBM is not set
CONFIG_OS=y
CONFIG_OS_FREERTOS=y
# CONFIG_OS_ITOS is not set
CONFIG_OS_POSIX=y
CONFIG_OS_POSIX_PTHREAD=y
CONFIG_OS_POSIX_PTHREAD_MUTEX=y
CONFIG_OS_POSIX_PTHREAD_COND=y
CONFIG_OS_POSIX_PTHREAD_BARRIER=y
CONFIG_OS_POSIX_SEM=y
CONFIG_OS_POSIX_MQEUEUE=y
CONFIG_OS_POSIX_TIMER=y
CONFIG_OS_POSIX_CLOCK=y
CONFIG_OS_POSIX_SCHED=y
# CONFIG_OS_MODULE is not set
CONFIG_NEWLIB=y
CONFIG_SYMBOLS:=y
CONFIG_FUNC_SYMBOLS:=y
CONFIG_DFS=y
# CONFIG_DFS_ELMFAT is not set
# CONFIG_DFS_DEBUGFS is not set
# CONFIG_DFS_HOTPLUG is not set
# CONFIG_CONN_FS is not set
CONFIG_SHELL=y
# CONFIG_NET is not set
# CONFIG_APPLICATION is not set
# CONFIG_APPLICATION_FACE is not set
# CONFIG_APPLICATION_LOAD_KERNEL is not set
# CONFIG_LIBSTDCPP is not set
# CONFIG_LIBCXX is not set
# CONFIG_LIBCXX_RTTI is not set
# CONFIG_LIBMAD is not set
# CONFIG_LIBSAMPLERATE is not set
# CONFIG_AF_RESAMPLE is not set
# CONFIG_AWTK is not set
# CONFIG_MEMTESTER is not set
# CONFIG_LIBJPEG is not set
# CONFIG_JPEG_TURBO is not set
# CONFIG_JPEG_TINY is not set
# CONFIG_LIBFACEDET is not set
# CONFIG_LIBIAAC is not set
# CONFIG_LIBGOODIXTOF is not set
# CONFIG_ZLIB is not set
# CONFIG_LRZSZ is not set
# CONFIG_LVGL is not set
# CONFIG_LZMA is not set
