CONFIG_SPL_BIN_FILE=xburst2/soc-x2000/spl/x2000-spl-sfc-nand-1200M-750M-uart3-3000000.bin
RTOS_TOOLCHAIN_PATH=../tools/toolchains/mips-xburst2-newlib430/bin
CROSS=mips-sde-elf-
CONFIG_OS_MEM_ADDR=0x80010000
CONFIG_OS_MEM_SIZE=67108864
CONFIG_OS_EXCEPTION_SECTION_SIZE=1024
CONFIG_OS_MAIN_STACK_SIZE=16384
CONFIG_OS_EXCEPTION_STACK_SIZE=2048
# CONFIG_JTAG_DEBUG is not set
CONFIG_SHOW_COMPILE_TIME=y
# CONFIG_KERNEL_WAIT_RTOS_STOP is not set
# CONFIG_OS_HAS_CPP_SUPPORT is not set
CONFIG_OS_GCC_OPTIMIZATION=-Os
# CONFIG_FPU_ALWAYS_ON is not set
# CONFIG_ENABLE_NESTED_IRQ is not set
# CONFIG_TCSM_SECTION is not set
CONFIG_MIPS32:=y
# CONFIG_XBURST is not set
CONFIG_XBURST2=y
CONFIG_XBURST2_X2000=y
# CONFIG_XBURST2_X2100 is not set
# CONFIG_XBURST2_X2600 is not set
# CONFIG_XBURST2_X2670 is not set
# CONFIG_XBURST2_CP0_TIMER is not set
CONFIG_XBURST2_MSA=y
CONFIG_SOC_X2000S:=y
CONFIG_SOC_X2000:=y
CONFIG_X2000_DPU_HAL:=y
CONFIG_SOC_X2000_X2000:=y
# CONFIG_SOC_X2000_X2100 is not set
CONFIG_SOC_X2000_VDDIO_MANUAL_CONFIG=y
# CONFIG_SOC_X2000_VDDIO_AUTO_CONFIG is not set
CONFIG_SOC_X2000_VDDIO_CONFIG_MODE_MANUAL:=y
CONFIG_SOC_X2000_VDDIO_DVP_VOLTAGE_VALUE=1
CONFIG_SOC_X2000_VDDIO_SD_VOLTAGE_VALUE=0
# CONFIG_SOC_X2000_VDDIO_CONFIG_MODE_AUTO is not set
# CONFIG_SOC_X2000_UART0 is not set
# CONFIG_SOC_X2000_UART1 is not set
# CONFIG_SOC_X2000_UART2 is not set
CONFIG_SOC_X2000_UART3=y
CONFIG_SOC_X2000_UART3_RX=GPIO_PC(25),GPIO_FUNC_0
CONFIG_SOC_X2000_UART3_TX=GPIO_PC(26),GPIO_FUNC_0
CONFIG_SOC_X2000_UART3_CTS=-1
CONFIG_SOC_X2000_UART3_RTS=-1
# CONFIG_SOC_X2000_UART4 is not set
# CONFIG_SOC_X2000_UART5 is not set
# CONFIG_SOC_X2000_UART6 is not set
# CONFIG_SOC_X2000_UART7 is not set
# CONFIG_SOC_X2000_UART8 is not set
# CONFIG_SOC_X2000_UART9 is not set
CONFIG_X2000_I2C0_BUS=y
CONFIG_X2000_I2C0_PC=y
CONFIG_X2000_I2C0_RATE=400000
# CONFIG_X2000_I2C1_BUS is not set
# CONFIG_X2000_I2C2_BUS is not set
CONFIG_X2000_I2C3_BUS=y
CONFIG_X2000_I2C3_PA=y
# CONFIG_X2000_I2C3_PD is not set
CONFIG_X2000_I2C3_RATE=400000
# CONFIG_X2000_I2C4_BUS is not set
# CONFIG_X2000_I2C5_BUS is not set
# CONFIG_SOC_X2000_MSC0_BUS is not set
CONFIG_SOC_X2000_MSC1_BUS=y
CONFIG_SOC_X2000_MSC1_PD_4BIT=y
CONFIG_SOC_X2000_MSC1_MAX_FREQ=100000000
CONFIG_SOC_X2000_MSC2_BUS=y
CONFIG_SOC_X2000_MSC2_PE_4BIT=y
CONFIG_SOC_X2000_MSC2_MAX_FREQ=100000000
CONFIG_SOC_X2000_MSC2_VOLTAGE_SWITCH=-1
CONFIG_X2000_SPI_CLK_RATE=100000000
# CONFIG_X2000_SPI0 is not set
# CONFIG_X2000_SPI1 is not set
CONFIG_X2000_LCD:=y
CONFIG_X2000_LCD_PAN_DISPLAY_SYNC=y
# CONFIG_X2000_LCD_USE_DEFAULT_ORDER is not set
CONFIG_X2000_LCD_DESC_ADDR=0
CONFIG_X2000_LCD_FB0_ENABLE=y
CONFIG_X2000_LCD_FB0_FRM_CNT=2
CONFIG_X2000_LCD_FB0_NAME="fb0"
# CONFIG_X2000_LCD_FB1_ENABLE is not set
# CONFIG_X2000_LCD_FB2_ENABLE is not set
# CONFIG_X2000_LCD_FB3_ENABLE is not set
# CONFIG_X2000_LCD_FB_MIXER_ENABLE is not set
# CONFIG_X2000_LCD_FB_SRDMA_ENABLE is not set
# CONFIG_X2000_LCD_FB_ENABLE_USER_CONFIG is not set
# CONFIG_X2000_LCD_FB0_USER_ENABLE is not set
# CONFIG_X2000_LCD_FB1_USER_ENABLE is not set
# CONFIG_X2000_LCD_FB2_USER_ENABLE is not set
# CONFIG_X2000_LCD_FB3_USER_ENABLE is not set
CONFIG_X2000_FB_LAYER_MIXER=y
CONFIG_X2000_ROTATOR=y
CONFIG_X2000_CAMERA:=y
CONFIG_SOC_X2000_CAMERA_VIC0=y
CONFIG_SOC_X2000_CAMERA_VIC0_ROUTINE_DDR=y
# CONFIG_SOC_X2000_CAMERA_VIC0_ROUTINE_ISP is not set
CONFIG_SOC_X2000_CAMERA_VIC0_MCLK=GPIO_PE(24)
CONFIG_SOC_X2000_CAMERA_VIC0_FRAME_NUMS=2
CONFIG_SOC_X2000_CAMERA_VIC1=y
CONFIG_SOC_X2000_CAMERA_VIC1_ROUTINE_DDR=y
# CONFIG_SOC_X2000_CAMERA_VIC1_ROUTINE_ISP is not set
CONFIG_SOC_X2000_CAMERA_VIC1_MCLK=GPIO_PE(24)
CONFIG_SOC_X2000_CAMERA_VIC1_FRAME_NUMS=2
# CONFIG_SOC_X2000_CAMERA_CIM is not set
CONFIG_X2000_VCODEC=y
CONFIG_X2000_UTILS=y
CONFIG_X2000_UTILS_RTC32K=y
# CONFIG_X2000_UTILS_RTC32K_INIT_ON is not set
CONFIG_X2000_AUDIO:=y
CONFIG_X2000_AIC=y
CONFIG_X2000_ICODEC=y
CONFIG_X2000_DMIC=y
CONFIG_X2000_ADC=y
# CONFIG_X2000_AES is not set
CONFIG_X2000_PWM=y
CONFIG_X2000_WDT=y
CONFIG_X2000_RTC=y
CONFIG_X2000_DTRNG:=y
CONFIG_X2000_HASH=y
CONFIG_X2000_EFUSE=y
CONFIG_X2000_EFUSE_VDDQ=-1
# CONFIG_X2000_PM is not set
# CONFIG_X2000_VPU_JPEG_ENCODE is not set
# CONFIG_X2000_CONN is not set
# CONFIG_X2000_CONN_VIC is not set
# CONFIG_X2000_CONN_FB is not set
# CONFIG_X2000_CONN_ISP is not set
# CONFIG_X2000_CONN_BLK is not set
# CONFIG_X2000_CONN_PCM is not set
# CONFIG_X2000_CONN_FS is not set
CONFIG_X2000_MAC=y
CONFIG_X2000_MAC_PHY_CLK_RATE=50000000
# CONFIG_X2000_MAC0 is not set
CONFIG_X2000_MAC1=y
# CONFIG_X2000_MAC1_RMII_MODE is not set
CONFIG_X2000_MAC1_RGMII_MODE=y
CONFIG_X2000_MAC1_RX_CLK_DELAY=2
CONFIG_X2000_MAC1_TX_CLK_DELAY=54
CONFIG_X2000_MAC1_PHY_ADDR=-1
CONFIG_X2000_MAC1_PHY_POWER_GPIO=-1,0
CONFIG_X2000_MAC1_PHY_POWER_DELAY=1
CONFIG_X2000_MAC1_PHY_RESET_GPIO=GPIO_PB(16),0
CONFIG_X2000_MAC1_PHY_RESET_DELAY=10000
CONFIG_X2000_MAC1_PHY_IRQ_GPIO=-1
CONFIG_X2000_MAC1_PHY_MDC=0x1
# CONFIG_X2000_MAC1_IPV4_ADDR is not set
# CONFIG_X2000_MAC1_NOT_USE_PHY_CLK is not set
# CONFIG_SOC_X2600S is not set
# CONFIG_SOC_X2600 is not set
CONFIG_EXTAL_CLOCK=24000000
# CONFIG_XBURST2_RTC_32K is not set
BITS_PER_LONG=32
CONFIG_XBURST2_IRQ=y
CONFIG_XBURST2_CACHE=y
CONFIG_XBURST2_SPINLOCK=y
CONFIG_XBURST2_CLK=y
CONFIG_XBURST2_SYSTICK=y
CONFIG_XBURST2_GPIO=y
CONFIG_XBURST2_DMA=y
# CONFIG_X2600_DTRNG is not set
CONFIG_LIB=y
CONFIG_LIB_ASSERT=y
# CONFIG_ASSERT_WITH_NO_FILENAME is not set
CONFIG_LIB_DEALY=y
CONFIG_LIB_RTC=y
CONFIG_LIB_STRING=y
CONFIG_LIB_DUMP_MEM=y
CONFIG_LIB_XFORMAT:=y
CONFIG_LIB_XFORMAT_PRINTF=y
CONFIG_LIB_RING_BUFFER:=y
CONFIG_DUMP_STACK=y
# CONFIG_LIB_SORT is not set
CONFIG_IMG_CONVERT=y
CONFIG_YUV422_TO_RGB=y
CONFIG_BAYER16_TO_RGB=y
# CONFIG_CMYK_TO_RGB is not set
# CONFIG_RING_MEM is not set
CONFIG_LIB_NALU:=y
CONFIG_DRIVERS=y
CONFIG_IRQ:=y
CONFIG_CACHE:=y
CONFIG_SPINLOCK:=y
CONFIG_CLK:=y
CONFIG_SYSTICK:=y
CONFIG_GPIO:=y
CONFIG_REGULATOR:=y
CONFIG_UART:=y
# CONFIG_PM is not set
CONFIG_ROTATOR:=y
CONFIG_FB:=y
CONFIG_DMA:=y
# CONFIG_SPI is not set
# CONFIG_SSLV is not set
CONFIG_I2C:=y
CONFIG_MMC:=y
CONFIG_RAMDISK:=y
CONFIG_PCM:=y
CONFIG_ADC:=y
# CONFIG_AES is not set
# CONFIG_SECURITY_AES is not set
CONFIG_PWM:=y
CONFIG_EFUSE:=y
CONFIG_WDT:=y
CONFIG_RTC:=y
CONFIG_DTRNG:=y
CONFIG_HASH:=y
# CONFIG_DES is not set
CONFIG_MAC:=y
# CONFIG_CAN is not set
CONFIG_CAMERA:=y
# CONFIG_ISP is not set
CONFIG_BACKLIGHT:=y
# CONFIG_MSCALER is not set
# CONFIG_CONN is not set
CONFIG_INPUT:=y
CONFIG_HRTIMER=y
CONFIG_LCD_GPIO=y
# CONFIG_GPIO_SPI is not set
CONFIG_GPIO_I2C=y
CONFIG_GPIO_I2C0=y
CONFIG_GPIO_I2C0_ID=6
CONFIG_GPIO_I2C0_SCL=GPIO_PD(4)
CONFIG_GPIO_I2C0_SDA=GPIO_PD(5)
CONFIG_GPIO_I2C0_CLK_RATE=100000
# CONFIG_GPIO_I2C1 is not set
# CONFIG_GPIO_I2C2 is not set
# CONFIG_GPIO_I2C3 is not set
# CONFIG_USB_DRIVER is not set
# CONFIG_SFC is not set
CONFIG_CONSOLE=y
CONFIG_CONSOLE_USE_UART=y
CONFIG_UART_CONSOLE:=y
CONFIG_UART_CONSOLE_UART_ID=3
CONFIG_UART_CONSOLE_BAUD_RATE=3000000
# CONFIG_UART_CONSOLE_RX_MODE_POLL is not set
CONFIG_GPIO_PIN=y
CONFIG_DEVICES=y
# CONFIG_X1000_SLCD_ST7789V is not set
# CONFIG_X1000_SLCD_TRULY240240 is not set
# CONFIG_X1830_TFT_ST7701 is not set
# CONFIG_X1830_SLCD_KWH035 is not set
# CONFIG_X1830_SLCD_ST7789 is not set
# CONFIG_X1021_SLCD_KWH035 is not set
# CONFIG_X2000_MIPI_KD070D57 is not set
# CONFIG_X2000_SLCD_KWH035 is not set
CONFIG_X2000_MIPI_FW050=y
CONFIG_X2000_FW050_BACKLIGHT_EN=-1
CONFIG_X2000_FW050_RST=GPIO_PC(4),0
CONFIG_X2000_FW050_POWER_EN=-1
CONFIG_LCD_POWER_REGULATOR_NAME="GPIO-POWER0"
# CONFIG_X2000_SLCD_JD9851 is not set
# CONFIG_X2000_MIPI_OTM8018B is not set
# CONFIG_X1600_SLCD_KWH035 is not set
# CONFIG_X1600_TFT_ST7701 is not set
# CONFIG_X1600_SLCD_ST7789V_4LINE_SPI is not set
# CONFIG_X2600_MIPI_FW050 is not set
# CONFIG_X2600_LVDS_KX070 is not set
# CONFIG_X2600_SLCD_ST7789V_4LINE_SPI is not set
CONFIG_GPIO_BACKLIGHT=y
CONFIG_GPIO_BACKLIGHT0=y
CONFIG_GPIO_BACKLIGHT0_GPIO=GPIO_PC(1),1
CONFIG_GPIO_BACKLIGHT0_NAME="backlight_gpio0"
# CONFIG_GPIO_BACKLIGHT1 is not set
# CONFIG_GPIO_BACKLIGHT2 is not set
# CONFIG_PWM_BACKLIGHT is not set
# CONFIG_GPIO_KEYBOARD is not set
# CONFIG_ADC_KEYBOARD is not set
# CONFIG_MATRIX_KEY is not set
# CONFING_GSL1680_TOUCH is not set
# CONFING_FT6236_TOUCH is not set
CONFIG_GT9XX_TOUCH=y
CONFIG_GTP_VERSION=0x2
CONFIG_GTP_DEV_NAME="gt9xx"
CONFIG_GTP_POWER_REGULATOR_NAME="GPIO-POWER0"
CONFIG_GTP_POWER_GPIO=-1
CONFIG_GTP_RESET_GPIO=GPIO_PC(8)
CONFIG_GTP_IRQ_GPIO=GPIO_PC(9)
CONFIG_GTP_MAX_EVENT_COUNT=8
CONFIG_GTP_MAX_TOUCH_NUMBER=2
CONFIG_GTP_I2C_BUSNUM=0
CONFIG_GTP_X_COORDS_MAX=720
CONFIG_GTP_Y_COORDS_MAX=1280
# CONFIG_X1000_SENSOR_GC0308 is not set
# CONFIG_X1000_SENSOR_BF20A6 is not set
# CONFIG_X1000_SENSOR_GC2155 is not set
# CONFIG_X1021_SENSOR_GC0328 is not set
# CONFIG_X1021_SENSOR_OV9732 is not set
# CONFIG_X1520_SENSOR_GC2145 is not set
# CONFIG_X1520_SENSOR_OV9281 is not set
# CONFIG_X1520_SENSOR_OV9732 is not set
# CONFIG_X1600_SENSOR_SC031 is not set
# CONFIG_X1600_SENSOR_GC0328 is not set
# CONFIG_X1600_SENSOR_PAG7930 is not set
# CONFIG_X1600_SENSOR_SC035 is not set
# CONFIG_X1830_SENSOR_OV2735 is not set
# CONFIG_X1830_SENSOR_IMX307 is not set
# CONFIG_X1830_SENSOR_AR0522 is not set
# CONFIG_X1830_SENSOR_AR0230 is not set
# MD_X2000_SENSOR_SC031_MIPI is not set
# MD_X2000_SENSOR_SC035_MIPI is not set
# MD_X2000_SENSOR_SC2310_MIPI is not set
# CONFIG_X2000_SENSOR_SC2355_MIPI is not set
MD_X2000_OV2735_SENSOR_MIPI=y
CONFIG_X2000_SENSOR0_OV2735=y
MD_X2000_SENSOR0_OV2735_NAME="ov2735-vis0"
MD_X2000_SENSOR0_OV2735_GPIO_RESET=GPIO_PA(10)
MD_X2000_SENSOR0_OV2735_GPIO_PWDN=-1
MD_X2000_SENSOR0_OV2735_GPIO_POWER=-1
MD_X2000_SENSOR0_OV2735_REGULATOR_NAME="-1"
MD_X2000_SENSOR0_OV2735_I2C_BUSNUM=3
MD_X2000_SENSOR0_OV2735_I2C_ADDR=0x3d
MD_X2000_SENSOR0_OV2735_CAM_BUSNUM=0
# CONFIG_X2000_SENSOR0_OV2735_ISP_BIN_SELECT is not set
CONFIG_X2000_SENSOR1_OV2735=y
MD_X2000_SENSOR1_OV2735_NAME="ov2735-vis1"
MD_X2000_SENSOR1_OV2735_GPIO_RESET=GPIO_PA(11)
MD_X2000_SENSOR1_OV2735_GPIO_PWDN=-1
MD_X2000_SENSOR1_OV2735_GPIO_POWER=-1
MD_X2000_SENSOR1_OV2735_REGULATOR_NAME="-1"
MD_X2000_SENSOR1_OV2735_I2C_BUSNUM=3
MD_X2000_SENSOR1_OV2735_I2C_ADDR=0x3c
MD_X2000_SENSOR1_OV2735_CAM_BUSNUM=1
# CONFIG_X2000_SENSOR1_OV2735_ISP_BIN_SELECT is not set
# CONFIG_X2000_SENSOR_OV9281 is not set
# CONFIG_X2000_SENSOR_GC1054_DVP is not set
# CONFIG_X2000_SENSOR_GC2053 is not set
# CONFIG_X2000_SENSOR_GC2053_DVP is not set
# CONFIG_X2000_SENSOR_JZ0378 is not set
# CONFIG_X2000_SENSOR_GVM8666B is not set
# CONFIG_X2000_SENSOR_IMX335_MIPI is not set
# CONFIG_X2600_SENSOR_SC031 is not set
# CONFIG_CODEC_AK4951 is not set
CONFIG_EMMC_DEVICE=y
CONFIG_EMMC_DEVICE_BUSNUM=2
CONFIG_EMMC_DEVICE_GPIO_RESET=-1
CONFIG_EMMC_DEVICE_GPIO_POWER=-1
CONFIG_EMMC_DEVICE_GPIO_DETECT=GPIO_PC(12)
CONFIG_EMMC_DEVICE_REMOVABLE_TYPE=1
CONFIG_RAMDISK_DEVICE=y
CONFIG_RAMDISK_DEVICE_ALLOC=y
# CONFIG_RAMDISK_DEVICE_MAPPED_PRE_LOAD is not set
CONFIG_RAMDISK_DEVICE_SIZE=589824
CONFIG_GPIO_REGULATOR=y
CONFIG_GPIO_REGULATOR0=y
CONFIG_GPIO_REGULATOR0_GPIO=GPIO_PC(3),0
CONFIG_GPIO_REGULATOR0_NAME="GPIO-POWER0"
# CONFIG_GPIO_REGULATOR1 is not set
# CONFIG_GPIO_REGULATOR2 is not set
# CONFIG_WIRELESS_INFINEON_CYWWHD is not set
CONFIG_OS=y
CONFIG_OS_FREERTOS=y
# CONFIG_OS_ITOS is not set
CONFIG_OS_POSIX=y
CONFIG_OS_POSIX_PTHREAD=y
CONFIG_OS_POSIX_PTHREAD_MUTEX=y
CONFIG_OS_POSIX_PTHREAD_COND=y
CONFIG_OS_POSIX_PTHREAD_BARRIER=y
CONFIG_OS_POSIX_SEM=y
CONFIG_OS_POSIX_MQEUEUE=y
CONFIG_OS_POSIX_TIMER=y
CONFIG_OS_POSIX_CLOCK=y
CONFIG_OS_POSIX_SCHED=y
# CONFIG_OS_MODULE is not set
CONFIG_NEWLIB=y
CONFIG_SYMBOLS:=y
CONFIG_FUNC_SYMBOLS:=y
CONFIG_DFS=y
CONFIG_DFS_ELMFAT=y
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION0 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION1 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION2 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION3 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION4 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION5 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION6 is not set
# CONFIG_DFS_ELMFAT_MOUNT_PARTITION7 is not set
CONFIG_DFS_DEBUGFS=y
CONFIG_DFS_HOTPLUG=y
# CONFIG_CONN_FS is not set
CONFIG_SHELL=y
CONFIG_NET:=y
CONFIG_NET_LWIP:=y
# CONFIG_NET_LWIP_IPV6 is not set
CONFIG_NET_LWIP_APPS=y
# CONFIG_APPLICATION is not set
# CONFIG_APPLICATION_FACE is not set
# CONFIG_APPLICATION_LOAD_KERNEL is not set
# CONFIG_LIBSTDCPP is not set
# CONFIG_LIBCXX is not set
# CONFIG_LIBCXX_RTTI is not set
# CONFIG_LIBMAD is not set
# CONFIG_LIBSAMPLERATE is not set
# CONFIG_AF_RESAMPLE is not set
# CONFIG_AWTK is not set
# CONFIG_MEMTESTER is not set
# CONFIG_LIBJPEG is not set
# CONFIG_JPEG_TURBO is not set
# CONFIG_JPEG_TINY is not set
# CONFIG_LIBFACEDET is not set
# CONFIG_LIBIAAC is not set
# CONFIG_LIBGOODIXTOF is not set
# CONFIG_ZLIB is not set
