objs/*
.config.in
.config
include/config.h
include/version.h
builtin.o
*.o
zero.bin
rtos-with-spl.bin
zero.elf
.vscode/*
*.lds.in
*.dump.S
symbols/func_symbols.txt
xburst/soc-x1830/mscaler/coefficient_file.txt
third_party/lvgl/Makefile
third_party/lvgl/lv_conf.h
third_party/lvgl/lvgl-8.4.0.tar.gz
third_party/lvgl/lvgl/
zero_split.gz
zero_split.lzma
lcdbin